@model List<Izin>
@{
    ViewData["Title"] = "İndex";
}
<h2>AlinanIzinler</h2>
<a class="btn btn-primary" asp-action="Form">Yeni ekle</a>
<table class="table table-hover table-striped">
    <thead>
        <tr>

            <th>personel ıd</th>
            <th>talep tarihi</th>
            <th>baslangıc tarihi</th>
            <th>bitis tarihi</th>
            <th>kullanilan izin</th>


        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>



                <td>@item.Personel.AdSoyad</td>
                <td>@item.Taleptarihi.ToShortDateString()</td>
                <td>@item.BaslamaTarihi.ToShortDateString()</td>
                <td>@item.BitisTarihi.ToShortDateString()</td>
                <td>@item.Kullanilanizin</td>

                <td>
                    <a class="btn btn-warning" asp-action="Form" asp-route-id="@item.Id">düzenle</a>
                    <a class="btn btn-danger" asp-action="Sil" asp-route-id="@item.Id" onclick="return onay()">sil</a>
                </td>

            </tr>

        }

    </tbody>



</table>


@section scripts{
    <script>
        function onay() {
            var r = confirm("Eminmisiniz");
            return r;
        }
    </script>
}
